* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Navbar */
nav {
  height: 70px;
  width: 100%;
  max-width: 100%;
  background-color: rgba(140, 113, 86, 0.5);
}

.navlinks {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  flex-direction: row;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  margin-top: 1.5rem;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
}

nav svg {
  display: none;
  fill: rgb(0, 0, 0);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.closed-sidebar-button {
  display: none;
  padding: 0 20px;
}

/* Main content */

h1,
.motto {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  padding-top: 20px;
}

.motto {
  font-size: 1.6rem;
  padding-top: 5px;
  font-style: italic;
}

/* Section 2 */
.om-oss {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 50px;
  display: flex;
}

.text {
  text-align: center;
  margin-right: 50px;
  justify-content: center;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.om-oss-text {
  margin-bottom: 20px;
  align-items: center;
}

/* Section 3 */
.bildgalleri-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  max-width: 100%;
}

.bildgalleri {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Section 4 */
.overlay-text {
  position: absolute;
  justify-content: center;
}

.image-text-container {
  position: relative;
  text-align: center;
  margin-top: 6rem;
}

/* Responsiv bild */
.image-text-container img {
  max-width: 100%;
  height: auto;
}

.opening-hours-container {
  display: inline-block;
  align-items: center;
}

.opening-hours {
  position: relative;
  font-size: calc(1vw + 1vh);
  background-color: rgba(211, 211, 211, 0.8);
  text-align: center;
  margin-left: 30rem;
  margin-right: 30rem;
}

/* Footer */
footer {
  width: 100%;
  background-color: rgba(140, 113, 86, 0.5);
  margin-top: 4rem;
  margin-top: 1.5rem;
}

.copyright {
  margin-top: 1rem;
}

footer a {
  text-decoration: none;
  color: black;
  margin-bottom: 1rem;
}
.footerlinks {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

/* Media Queries */

@media screen and (min-width: 768px) and (max-width: 980px) {
  * {
    margin: 0;
    padding: 0;
  }

  .om-oss {
    margin-right: 1rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .kaffemaskin {
    width: 650px;
    height: 350px;
  }

  .bildgalleri {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bildgalleri img {
    max-width: 100%;
    height: auto;
  }

  .opening-hours-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .opening-hours {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20rem;
    margin: 3rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  /* Hamburger menu */

  nav svg {
    display: block;

    fill: black;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 170px;
    height: 100%;
    background-color: #c5b8ab;
    box-shadow: -5px 0 5px rgb(0, 0, 0, 0.25);
    padding-left: 1.5rem;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .open-sidebar-button {
    display: block;
    cursor: pointer;
  }

  .closed-sidebar-button {
    display: none;
  }

  #sidebar-active:checked ~ .navlinks .closed-sidebar-button {
    display: flex;
    top: 0;
    right: 0;
  }

  #sidebar-active:not(:checked) ~ .navlinks {
    display: none;
  }

  .navlinks a:hover {
    background-color: rgb(255, 255, 255);
  }
  /* End hamburger menu  */

  h1,
  .motto {
    font-size: 1.3rem;
  }

  .om-oss {
    margin: 0;
    padding: 0;
  }

  .om-oss-text {
    margin-top: 1.5rem;
    font-size: 1rem;
    margin-left: 2rem;
  }

  .kaffemaskin {
    display: none;
  }

  .bottomimage {
    width: 70vh;
  }
  .opening-hours-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .opening-hours {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20rem;
    margin: 3rem;
    font-size: 1.1rem;
  }

  .footerlinks {
    font-size: 1.1rem;
  }
}

/* Kod validerat 17/9 */
